body,
html {
  padding: 0;
  margin: 0;
}

.emoji {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 2%;
}

.nav-item img {
  height: 24px;
  margin-right: 8px;
}

.nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
  text-decoration: none;
}

.navbar-nav .nav-link {
  cursor: pointer;
}

.navbar {
  height: 10vh;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand,
.navbar-toggler,
.navbar-nav,
.nav-item {
  height: 100%;
}

#section-featured {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/featured.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 87vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer {
  text-align: center;
  height: 3vh;
  font-size: small;
}

.navbar-nav .nav-item.active {
  background-color: lightgray;
}

#section-product {
  height: 90vh;
}

#product-container {
  display: flex;
}

#left-panel,
#right-panel {
  flex: 1;
  padding: 2%;
}

#left-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-prod-details {
  height: 80vh;
}

#h1-prod-name {
  margin-bottom: 20%;
}

#h3-prod-price {
  margin-bottom: 5%;
}

#quantity {
  padding-left: 2%;
  padding-right: 2%;
  width: 60px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

#add-to-cart-btn {
  margin-top: 2%;
}

#p-prod-details {
  margin-top: 10%;
}

#quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

#btn-decrease,
#btn-increase {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid-inputs {
  border: 2px solid red;
  background-color: #fdd;
}

.register-errors {
  color: red;
}

.disabled-navbar-links {
  pointer-events: none;
}

#section-featured,
#section-shop,
#section-product,
#section-login,
#section-register,
#section-forgot-password,
#section-account,
#section-cart,
#section-payment {
  width: 100vw;
  margin: 0 auto;
}

a:hover {
  color: blue;
}

a,
button,
.card,
.dropdown-menu {
  cursor: pointer;
}

#account-container,
#cart-container,
#login-container,
#forgot-container,
#reset-container,
#register-container,
#password-container,
#payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div-order-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

table {
  width: 100vw;
}

section {
  padding: 2%;
  width: 100vw;
  margin: 0 auto;
}
